.post{
    width: 385px;
    margin: 25px 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.post-img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
}

.post-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.post-title{
    font-size: 30px;
    color:#e34234;
    font-weight: 900;
    margin-top: 15px;
    cursor: pointer;
}

.post-author{
    color: black;
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.post-created-at{
    color: darkgrey;
    font-family: 'roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.react-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin: 10px 0;
}