.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.2), 
    rgba(255,255,255,0.2)), 
    url("http://localhost:5050/images/loginbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    font-family: 'roboto', sans-serif;
}

.login-title{
    font-size: 120px;
    font-family: 'Tangerine', cursive;
    color: #e34234;
    margin-top: -30px;
}

.login-form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.login-form > label{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
    color:  #1a1110;
}

.login-form > input{
    padding: 10px;
    background-color: white;
    border: none;

}

.login-button{
    margin-top: 20px;
    cursor: pointer;
    background-color: #e34234;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.login-button:disabled{
    cursor: not-allowed;
    background-color: rgb(255, 170, 170);
}

.login-register-button{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #e34234;
    cursor: pointer;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px; 
}
